.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 279px;
  grid-auto-columns: 451px;
  /* flex-wrap: wrap;
  justify-content: flex-start; */
  gap: 30px;
}
.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 965px) {
  .card-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 245px;
    grid-row-gap: 20px;
    margin-bottom: 20px;
    list-style-type: none;
  }
}
